/* ==========================================================================
   Header Mainbar Styles - only loaded if the theme option is active
   ========================================================================== */

header#masthead .header-mainbar {
    background-color: #aaa;
}
header#masthead .header-mainbar .header-mainbar-logo .site-title {
	margin: 0;
}
header#masthead .header-mainbar .header-mainbar-logo img {
	margin: 0 auto;
}
header#masthead .header-mainbar .header-mainbar-info {
	text-align: center;
}
header#masthead .header-mainbar .header-mainbar-info p {
	color: #fff;
	margin: 10px 0;
}
header#masthead .header-mainbar .header-mainbar-info p.header-phone {
	color: #fff;
	font-weight: 400;
}
header#masthead .header-mainbar .header-mainbar-info p.header-phone i {
	vertical-align: middle;
}

@media (min-width: 768px) {
	header#masthead .header-mainbar {
		padding: 10px 0;
	}
	header#masthead .header-mainbar .header-mainbar-info p {
		margin: 0;
	}
	header#masthead .header-mainbar .header-mainbar-info {
		text-align: right;
		margin-top: 30px;
	}
}
