/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
    body {
        font-family: $os-light;
        h1, h2, h3, h4, h5, h6 {
            font-family: $os-bold;
            line-height: 1.2;
            color: $heading_color;
			span, a {
				font-weight: inherit;
				font-style: inherit;
			}
        }
        p, ul li, ol li, span, a, address, strong, dl, dt, dd, th, td {
            font-family: $os-light;
			font-size: 16px;
            line-height: 1.4;
            color: $dark;
        }
        strong, dt {
            font-family: $os-semi;
        }
        a:link {
            text-decoration: none;
        }
        a:hover {
            color: $accent;
        }
        .widget {
          margin: 0;
          ul {
            list-style-type: none;
            padding-left: 0;
          }
        }
        #content {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		// Base styles for pages/content/main area
		#main {
			&.page-404 {
				h1 {
					margin: 0;
				}
				p {
					margin: 15px 0 20px;
				}
			}
			.entry-header {
				margin: 0 0 20px;
				border-bottom: 1px solid $heading_color;
			}
			.entry-content {
				margin-top: 0;
				h2 {
					font-size: 21px;
					margin: 30px 0 15px;
					@media (min-width: 768px) {
						font-size: 24px;
					}
					@media (min-width: 992px) {
						font-size: 27px;
					}
				}
				h3 {
					font-size: 18px;
					margin: 25px 0 10px;
					@media (min-width: 768px) {
						font-size: 20px;
					}
					@media (min-width: 992px) {
						font-size: 23px;
					}
				}
				h4 {
					font-size: 16px;
					margin: 20px 0 8px;
					@media (min-width: 768px) {
						font-size: 18px;
					}
					@media (min-width: 992px) {
						font-size: 21px;
					}
				}
				h5 {
					font-size: 14px;
					margin: 15px 0 5px;
					@media (min-width: 768px) {
						font-size: 16px;
					}
					@media (min-width: 992px) {
						font-size: 18px;
					}
				}
				h6 {
					font-size: 13px;
					margin: 10px 0 5px;
					@media (min-width: 768px) {
						font-size: 15px;
					}
					@media (min-width: 992px) {
						font-size: 16px;
					}
				}
				a {
					text-decoration: underline;
				}
				img, figure {
					border: 1px solid #ccc;
					background: #fff;
					padding: 5px;
					margin: 5px auto 10px;
					@media (min-width: 768px) {
						width: initial;
						&.aligncenter {
							margin: 20px auto;
						}
						&.alignleft {
							float: left;
							margin-right: 15px;
						}
						&.alignright {
							float: right;
							margin-left: 15px;
						}
					}
					&.featured-image {
						margin-top: 0;
					}
				}
				figure {
					border: none;
					img {
						margin-bottom: 5px;
					}
					figcaption {
						font-size: 12px;
						a {
							font-size: 12px;
						}
					}
				}
			}
		}
    }
}