/* ==========================================================================
   Components Styles
   ========================================================================== */

/* Framed Images */
img.framed {
    padding: 10px;
    background: #fff;
    border: 2px solid $secondary_color;
    border-radius: 5px;
    box-shadow: 0 1px 8px $dark;
}

/* Post Edit Link */
a.post-edit-link {
    color: $accent;
    &:hover {
        color: $gray;
    }
}

/* Buttons */
a.btn-1 {
    display: inline-block;
    padding: 10px 20px 5px;
    margin: 15px auto;
    background: $secondary_color;
    color: $light;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 8px;
    &:hover {
        background: $dark;
        color: $light;
    }
}
a.btn-2 {
    display: inline-block;
    padding: 8px 20px 6px;
    margin: 10px auto;
    background: $primary_color;
    color: $light;
    &:hover {
        color: $light;
        background: $secondary_color;
    }
}

/* Form fields */
.search-form {
    font-size: 16px;
    label {
        width: 100%;
        input {
            width: 100%;
            border: 2px solid $primary_color;
            padding: 3px 6px;
        }
    }
    input[type="submit"] {
        width: 100%;
        background: $primary_color;
        color: $light;
        border: none;
        padding: 5px 12px;
        &:hover {
            opacity: 0.8;
        }
    }
}


/* Blog Posts Page and Single Post Meta */
body.blog #main, body.single #main, body.search #main, body.archive #main {
    header.blog-title {
        margin: 0;
        border-bottom: 1px solid $primary_color;
        h1.page-title {
            margin: 0;
        }
    }
    article {
        margin: 50px 0;
        header.entry-header {
            h2.entry-title a {
                font-size: 26px;
                color: $heading_color;
            }
            .entry-meta {
                .posted-on {
                    color: $heading_color;
                }
            }
        }
        .entry-content {
            img.featured-image {
                margin: 0 auto 20px !important;
                width: 100% !important;
                &.dummy {
                    max-width: 300px;
                }
            }
        }
        .entry-footer {
            border-top: 1px double $gray;
            margin-top: 20px;
            padding-top: 15px;
            span {
                display: block;
                a {
                    color: $accent;
                    &:hover {
                        color: $gray;
                    }
                }
                &.tags-links a {
                    font-style: italic;
                }
            }
            .next-title, .prev-title {
                display: inline;
                color: $heading_color;
            }
            .next-title {
                float: right;
            }
        }
    }
    nav.navigation {
        margin-top: 20px;
        border-top: 3px double $primary_color;
        padding: 5px 0;
        .nav-previous, .nav-next {
            display: inline-block;
            a {
                color: $accent;
                &:hover {
                    color: $primary_color;
                }
            }
        }
        .nav-next {
            float: right;
        }
    }
}
body.single #main article {
    margin: 0;
    nav.navigation {
        margin-top: 50px;
    }
    .entry-content {
        img.featured-image {
            @media (min-width: 992px) {
                width: 300px !important;
                margin-left: 10px !important;
            }
            @media (min-width: 1200px) {
                width: 400px !important;
            }
        }
    }
}


/* Comments Box */
#comments {
    border-top: 1px solid $heading_color;
    margin-top: 30px;
    clear: both;
    h2.comments-title {
        span {
            @extend h2;
            font-size: 30px;
            font-style: italic;
            margin-right: 5px;
        }
    }
    ol.comment-list {
        list-style: none;
        padding-left: 0;
        li.comment {
            border-left: 5px solid $light;
            margin: 20px 0;
            padding: 10px;
            .comment-meta {
                margin-bottom: 10px;
                .comment-author {
                    img {
                        border-radius: 50%;
                    }
                    a {
                        font-size: 16px;
                    }
                }
                a {
                    color: $primary_color;
                    font-weight: bold;
                    font-size: 14px;
                }
                span {
                    font-size: 14px;
                }
            }
            .reply a {
                color: $accent;
                font-size: 15px;
                font-weight: bold;
            }
            ol.children {
                list-style: none;
            }
        }
    }
    #respond {
        label {
            display: block;
            color: $heading_color;
        }
        input, textarea {
            border: 2px solid $primary_color;
            width: 100%;
            padding: 8px 10px;
            &:focus {
                outline: none;
            }
        }
        input[type="submit"] {
            float: right;
            max-width: 200px;
            background: none;
            color: $primary_color;
            font-weight: bold;
            padding: 5px 0;
        }
    }
}