/* ==========================================================================
   Components Styles
   ========================================================================== */

/* Post Edit Link */
a.post-edit-link {
    color: $accent;
    &:hover {
        color: $gray;
    }
}

/* Form fields */
.search-form {
    font-size: 16px;
    label {
        width: 100%;
        input {
            width: 100%;
            border: 2px solid $primary_color;
            padding: 3px 6px;
        }
    }
    input[type="submit"] {
        width: 100%;
        background: $primary_color;
        color: $light;
        border: none;
        padding: 5px 12px;
        &:hover {
            opacity: 0.8;
        }
    }
}


/* Blog Posts Page and Single Post Meta */
body.blog #main, body.single #main, body.search #main, body.archive #main {
    header.entry-header {
        h2.entry-title a {
            font-size: 26px;
            color: $heading_color;
        }
        .entry-meta {
            .posted-on {
                color: $heading_color;
            }
        }
    }
    .entry-footer {
        border-top: 3px double $heading_color;
        margin-top: 20px;
        padding-top: 15px;
        span {
            display: block;
            a {
                color: $accent;
                &:hover {
                    color: $gray;
                }
            }
            &.tags-links a {
                font-style: italic;
            }
        }
        nav.post-navigation {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            padding: 5px 0;
            margin: 10px 0;
            .nav-previous, .nav-next {
                display: inline-block;
            }
            .nav-previous {
                color: red;
            }
            .nav-next {
                float: right;
                color: blue;
            }
        }
        .next-title, .prev-title {
            display: inline;
            color: $heading_color;
        }
        .next-title {
            float: right;
        }
    }
}


/* Comments Box */
#comments {
    border-top: 1px solid $heading_color;
    margin-top: 30px;
    clear: both;
    h2.comments-title {
        span {
            @extend h2;
            font-size: 30px;
            font-style: italic;
            margin-right: 5px;
        }
    }
    ol.comment-list {
        list-style: none;
        padding-left: 0;
        li.comment {
            border-left: 5px solid $light;
            margin: 20px 0;
            padding: 10px;
            .comment-meta {
                margin-bottom: 10px;
                .comment-author {
                    img {
                        border-radius: 50%;
                    }
                    a {
                        font-size: 16px;
                    }
                }
                a {
                    color: $primary_color;
                    font-weight: bold;
                    font-size: 14px;
                }
                span {
                    font-size: 14px;
                }
            }
            .reply a {
                color: $accent;
                font-size: 15px;
                font-weight: bold;
            }
            ol.children {
                list-style: none;
            }
        }
    }
    #respond {
        label {
            display: block;
            color: $heading_color;
        }
        input, textarea {
            border: 2px solid $primary_color;
            width: 100%;
            padding: 8px 10px;
            &:focus {
                outline: none;
            }
        }
        input[type="submit"] {
            float: right;
            max-width: 200px;
            background: none;
            color: $primary_color;
            font-weight: bold;
            padding: 5px 0;
        }
    }
}