/* ==========================================================================
   Header Styles
   ========================================================================== */

header#masthead {
    .header-topbar {
        background-color: #000;
        p {
            margin: 5px auto;
            color: #efefef;
            text-align: center;
            font-size: 14px;
            @media (min-width: 768px) {
                text-align: left;
                font-size: 15px;
                margin-top: 7px;
            }
        }
        ul {
            text-align: center;
            list-style: none;
            padding-left: 0px;
            margin: 0 auto;
            @media (min-width: 768px) {
                float: right;
            }
            li {
                display: inline-block;
                padding: 3px 7px;
                a {
                    color: #ddd;
                    font-size: 20px;
                    &:hover {
                        color: #fff;
                    }
                    i {
                        vertical-align: middle;
                    }
                }
            }

        }
    }
    .header-mainbar {
        background-color: #aaa;
        padding: 10px 0 10px;
        @media (min-width: 768px) {
            padding: 15px 0;
        }
        .header-mainbar-logo {
            .site-title {
                margin: 0;
            }
            img {
                margin: 0 auto;
            }
        }
        .header-mainbar-info {
            text-align: center;
            @media (min-width: 768px) {
                text-align: right;
                margin-top: 30px;
            }
            p {
                color: #fff;
                margin: 10px 0;
                @media (min-width: 768px) {
                    margin: 0;
                }
                &.header-phone {
                    color: #fff;
                    font-weight: 400;
                    i {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .header-navbar {
        background: $light;
        border-bottom: 2px solid $primary_color;
        border-top: 2px solid $primary_color;
        position: relative;
        &.is_stuck {
            position: fixed !important;
            top: 0 !important;
            bottom: initial !important;
            left: 0;
            right: 0;
            z-index: 99;
            box-shadow: 0 0 8px #aaa;
            border-top: 0;
        }
        div.col-sm-2 {
            text-align: right;
        }
        nav.navbar {
            margin-bottom: 0;
            min-height: 0;
            border: none;
            background: none;
            border-radius: 0;
            .navbar-header {
                button.navbar-toggle {
                    margin-right: 0;
                }
                .navbar-brand {
                    padding-left: 0;
                }
            }
            .navbar-collapse {
                padding-left: 0;
                padding-right: 0;
                ul.navbar-nav {
                    width: 100%;
                    margin: 0;
                    li {
                        a {
                            color: $dark;
                            font-size: 14px;
                            @media (min-width: 768px) {
                                padding: 10px;
                            }
                            @media (min-width: 992px) {
                                font-size: 17px;
                                padding: 10px 15px;
                            }
                            .caret {
                                display: none;
                            }
                            &:hover {
                                background: $primary_color;
                                color: $light;
                            }
                        }
                        &.active > a {
                            background: $primary_color;
                            color: $light;
                        }
                        ul {
                            background: $light;
                            border: none;
                            border-radius: 0px;
                            width: 100%;
                            position: relative;
                            @media (min-width: 768px) {
                                position: absolute;
                                width: initial;
                                padding: 0;
                                border: 2px solid $primary_color;
                            }
                            li a {
                                padding-top: 10px;
                                padding-bottom: 10px;
                            }
                            ul {
                                width: 100%;
                                position: relative;
                                margin-top: 0;
                                @media (min-width: 768px) {
                                    position: absolute;
                                    width: initial;
                                    left: 100%;
                                    top: -2px;
                                }
                                li a {
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        a.open-search {
            background: $primary_color;
            color: $light;
            padding: 9px 15px;
            line-height: 40px;
        }
        .search-form-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            height: 100%;
            opacity: 0;
            visibility: hidden;
            form.search-form {
                input {
                    display: inline-block;
                    background: none;
                    border: none;
                    text-align: right;
                    line-height: 40px;
                    padding: 0;
                    color: #fff;
                    &:focus {
                        outline: none;
                    }
                    &[type='submit'] {
                        display: none;
                    }
                }
            }
        }
    }
}

body.search-is-open .search-form-wrapper {
    opacity: 1 !important;
    visibility: visible !important;
}