/* ==========================================================================
   Header Styles
   ========================================================================== */

header#masthead {
	padding: 5px 0;
	background: #fff;
	@media (min-width: 992px) {
		padding: 10px 0;
	}
	> .container {
		@media (min-width: 992px) {
			position: relative;
		}
	}
	.header-logo {
		.site-title {
			margin: 0;
			img {
				margin: 0 auto 10px;
				width: 100%;
				max-width: 300px;
				@media (min-width: 992px) {
					margin-bottom: 0;
				}
			}
		}
	}
    .header-nav {
		text-align: center;
		background: #fff;
		@media (min-width: 992px) {
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		.header-info {
			font-size: 20px;
			text-transform: uppercase;
			margin: 0;
			color: $primary_color;
			font-family: $os-extra;
			@media (min-width: 992px) {
				font-size: 24px;
			}
			@media (min-width: 1200px) {
				font-size: 26px;
			}
			i {
				vertical-align: middle;
				margin-left: 10px;
				font-size: inherit;
				color: inherit;
			}
			a {
				font-family: inherit;
				font-size: inherit;
				color: inherit;
				&:hover {
					color: $secondary_color;
				}
			}
		}
        nav.navbar {
			margin: 5px 0 0;
			min-height: 0;
			border: none;
			background: none;
			border-radius: 0;
			@media (min-width: 768px) and (max-width: 991px) {
				display: inline-block;
				margin-bottom: -4px;
			}
			@media (min-width: 992px) {
				float: right;
				margin-top: 20px;
			}
			@media (min-width: 1200px) {
				margin-top: 25px;
			}
            .navbar-header {
                button.navbar-toggle {
                    margin-right: 0;
                }
                .navbar-brand {
                    padding-left: 0;
                }
            }
            .navbar-collapse {
                padding-left: 0;
                padding-right: 0;
                ul.navbar-nav {
                    width: 100%;
                    margin: 0;
                    li {
                        a {
                            color: $dark;
                            font-size: 14px;
                            @media (min-width: 768px) {
                                padding: 10px;
                            }
                            @media (min-width: 992px) {
                                font-size: 15px;
                                padding: 10px;
                            }
							@media (min-width: 1200px) {
								font-size: 16px;
								padding: 10px 12px;
							}
                            .caret {
                                display: none;
                            }
                            &:hover {
                                background: $primary_color;
                                color: $light;
                            }
                        }
                        &.active > a {
                            background: $primary_color;
                            color: $light;
                        }
                        ul {
                            background: #fff;
                            border: none;
                            border-radius: 0px;
                            width: 100%;
                            position: relative;
                            @media (min-width: 768px) {
                                position: absolute;
                                width: initial;
                                padding: 0;
                                border-bottom: 3px solid $primary_color;
                            }
                            li {
								a {
									font-size: 90%;
									padding-top: 8px;
									padding-bottom: 8px;
								}
                            }
                            ul {
                                width: 100%;
                                position: relative;
                                margin-top: 0;
                                @media (min-width: 768px) {
                                    position: absolute;
                                    width: initial;
                                    left: 100%;
                                    top: -1px;
                                }
                                li a {
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
		&.is_stuck {
			position: fixed !important;
			top: 0 !important;
			bottom: initial !important;
			left: 0;
			right: 0;
			z-index: 99;
			box-shadow: 0 0 8px #aaa;
			border-top: 0;
		}
    }
	&.is_stuck {
		position: fixed !important;
		top: 0 !important;
		bottom: initial !important;
		left: 0;
		right: 0;
		z-index: 99;
		box-shadow: 0 0 8px #aaa;
		border-top: 0;
	}
}