/* ==========================================================================
   Sidebar Styles
   ========================================================================== */

aside#secondary {
	text-align: center;
	margin-top: 40px;
	@media (min-width: 768px) {
		text-align: left;
		margin-top: 0;
	}
	.widget {
		margin-bottom: 30px;
		.widget-title {
			display: block;
			font-family: $os-semi;
			font-size: 26px;
			margin-top: 10px;
			color: $heading_color;
		}
	}
}