/* ==========================================================================
   Single Post Styles
   ========================================================================== */

body.single {
	#content {
		padding-top: 0;
	}
	article {
		.entry-content {
			img.featured-image {
				@media (min-width: 992px) {
					width: 300px !important;
					margin-left: 10px !important;
				}
				@media (min-width: 1200px) {
					width: 400px !important;
				}
			}
		}
		.entry-footer {
			margin-top: 20px;
			.entry-footer-meta {
				padding: 15px 10px 5px;
				background: $light;
			}
			span {
				display: block;
				font-size: 14px;
				margin-bottom: 10px;
				font-weight: bold;
				a {
					color: $dark;
					font-size: 14px;
					font-weight: 300;
					&:hover {
						color: $accent;
					}
				}
				&.tags-links a {
					font-style: italic;
				}
			}
			nav.navigation {
				margin-top: 15px;
				border-top: 1px solid #ccc;
				padding-top: 15px;
				.nav-previous, .nav-next {
					a {
						display: inline-block;
						color: #fff;
						background: $primary_color;
						padding: 3px 10px;
						font-size: 13px;
						border-radius: 2px;
						transition: background 0.2s;
						&:hover {
							background: $dark;
							transition: background 0.2s;
						}
					}
				}
				.nav-previous {
					float: left;
				}
				.nav-next {
					float: right;
				}
			}
		}
	}
}