/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$light: #efefef;
$dark: #333;
$gray: #aaa;
$primary_color: #294e85;
$secondary_color: #a5bee3;
$accent: #38c9cc;
$heading_color: #256178;

/* Fonts */
$sans_serif: 'Poppins', Arial, sans-serif;
$serif: 'Libre Baskerville', Times, serif;