/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$light: #efefef;
$dark: #333;
$gray: #aaa;
$primary_color: #000f26;
$secondary_color: #00efbf;
$secondary_dark: #1a2624;
$accent: #00efbf;
$heading_color: #1a2624;

/* Fonts */
$sans_serif: 'Poppins', Arial, sans-serif;
$serif: 'Libre Baskerville', Times, serif;